body{
  font-family: 'Open Sans', sans-serif;
  background-image: url("./background.jpg");
  background-size: 100%;
  color: white;
}

.name {
  width: 600px;
  height: 50px;
  left: 50%;
  top: 85px;
  position: absolute;
  margin-left: -300px;
  margin-top: -25px;
  color: black;
  text-align: center;
}

.card {
   width: 600px;
   height: 350px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -300px;
   margin-top: -175px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   background-image: linear-gradient(to right, #0F2027 , #203A43);
   float: auto;
   align-items: center;
   border-radius: 25px;
 }

 #name {
   text-align: center;
 }

 .picture {
   height: 125px;
   width: 115px;
   position: relative;
   top: 125px;
   left: -35px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   border-radius: 25px;
 }
 .data {
   position: relative;
   left: 100px;
   bottom: 50px;
   color: #d3d3d3;
 }

 #logo {
   position: relative;
   left: 100px;
   color: white;
   font-size: 30px !important;
   bottom: 50px;
 }
#intro {
  position: relative;
  bottom: 100px;
  font-weight: bold;
}
