body{
  font-size: 14px;
  line-height: 1.428;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2D2E40

}

#header {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  background-image: url("./background_header.jpg");
  height: 100px;
  color: white;
  text-align: center;
}

#picture{
  float:left;
  padding-top: 10px;
  padding-right: 10px;
  height: 200px;
  width: 200px;
}

#logos{
  height: 50px;
  width: 50px;
}

}
#sidenote{
  text-align: center;
  color: #737373;
  overflow: auto;
}

#opening {
  display: inline;
  overflow: auto;
  padding-left: 10px;
}

p{
  bottom-margin: 10px;
}

h3 {
  font-size: 28px;
}
a{
  color: #5DB6FF;
}
code{
  color: #BE63BF;
}
.info {
  color: white;
}
